body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 10px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
                max-width: 800px;
                margin: 0 auto;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, seri;
                color: white;
                background-image: url("http://www.profilebrand.com/imgs/layouts/11artistic/1118/1118_L-rainbow-peace-signs.jpg");
     }
 .container1{
            background: turquoise;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            line-height: 180%;
            padding-left: 40px;
            padding-right: 40px;
}
.container3{
    color:white;
}
.blog1{   
        background-image: url("http://www.profilebrand.com/imgs/layouts/11artistic/1118/1118_L-rainbow-peace-signs.jpg");
}
.blog2{
    background-image: url("http://www.artmoth.com/psp-wallpapers/details/1186-peace-sign-rainbow-stripes-psp-wallpaper.gif");
}
.blog3{
    background-image: url("http://www.zingerbug.com/Backgrounds/background_images/black_peace_signs_background_seamless.jpg");
}