body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 10px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
                max-width: 800px;
                margin: 0 auto;
                font-family: "Lato, Helvetica, sans-serif";
                color: white;
                background-image: url("http://www.profilebrand.com/imgs/layouts/11artistic/1118/1118_L-rainbow-peace-signs.jpg");
     }
 .container1{
            background: turquoise;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            line-height: 180%;
            padding-left: 40px;
            padding-right: 40px;
}
.container3{
    color:white;
}
.blog1{   
        background-image: url("http://www.profilebrand.com/imgs/layouts/11artistic/1118/1118_L-rainbow-peace-signs.jpg");
}
.blog2{
    background-image: url("https://images7.alphacoders.com/395/thumb-350-395487.jpg");
}
.blog3{
    background-image: url("http://static.tumblr.com/8deca723085039d435dd7008ff4d9780/wpyqy5v/B0Qo3ch19/tumblr_static_176bz5azxr8ggwwckcock440s.jpg");
}
.header{
    color : grey;
    font-family : "Century Gothic, sans-serif;;";
}