body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 10px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
                max-width: 800px;
                margin: 0 auto;
                font-family: "Lato, Helvetica, sans-serif";
                color: white;
                background-image: url("http://www.profilebrand.com/imgs/layouts/11artistic/1118/1118_L-rainbow-peace-signs.jpg");
     }
 .container1{
            background: turquoise;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            line-height: 180%;
            padding-left: 40px;
            padding-right: 40px;
}
.container3{
    color:white;
}
.blog1{   
        background-image: url("http://www.profilebrand.com/imgs/layouts/11artistic/1118/1118_L-rainbow-peace-signs.jpg");
}
.blog2{
    background-image: url("http://assets.merriam-webster.com/mw/images/article/art-wap-landing-mp-lg/love-valentines-day-79@1x.jpg");
}
.blog3{
    background-image: url("http://wallpapercave.com/wp/M8F6v95.jpg");
}
.header{
    color : grey;
    font-family : "font-family: Century Gothic, sans-serif;;";
}